body {
    background: linear-gradient(140deg, #000000, #202020, #131313, #000000);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.watermark {
    float:right;
    color: rgba(255, 255, 255, 0.329);
    font-Size: 0.7rem;
    margin-top: -30px;
    padding: 1%;
}

.app {
    width: 100%;
    height: 100%;
}

.centeredBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
}

.centeredBox.code {
    min-height: 85vh;
}

.centeredBox.sett {
    min-height: 10vh;
}

.codeBox {
    border: 1px solid rgba(255, 255, 255, 0.356);
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px 10px 2px 2px;
    background: linear-gradient(140deg, #1b1b1b73, #16161686);
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

pre {
    background-color: transparent !important;
    overflow: hidden !important;
}



.input-container {
    position: relative;
    align-items: center;
    text-align: center;
}

.transparent-input {
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    padding: 0px;
    color: #33333300;
    width:100%;
    height:100%;
    text-align: center;
    caret-color: white;
}

.input-label {
    position: absolute;
    font-size: 0.9rem;
    border: none;
    width: 100%;
    height: 100%;
    left: 0;
    pointer-events: none;
    /* Allow interaction with input box */
    transition: all 0.3s ease;
    /* Add smooth transition effect */
}

.handle {
    width: 100%;
    justify-content: space-around;
    display: flex;
    height: 17px;
    padding: 2px;
    position: relative;
}

.title {
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    inset: 0;
    letter-spacing: .32px;
    line-height: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.397);
    position: absolute;
}

.content {
    height: auto;
    padding: 1%;
    position: relative;
}


option::selection {
    background-color: transparent;
    color: inherit;
}

textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    /*border: 1px solid red;*/
    border:none;
    color: rgba(255, 255, 255, 0);
    caret-color: rgba(255, 255, 255, 0.445);
    font-size: 1rem;
    font-weight: 500;
    inset: 0;
    line-height: 1.5;
    resize: none;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    padding:3%;

    font-family: monospace !important;
    white-space: pre;
    margin: 1em 0px;
}

textarea:focus,
input:focus {
    outline: none;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    float: right;
}

.btn {
    height: 13px;
    width: 13px;
    margin: 2px;
    border-radius: 50%;
    display: inline-block;
    transition-duration: 500ms;
}

.close {
    background-color: #630000;
}

.max {
    background-color: #119600;
}

.min {
    background-color: #b88700;
}

.btn:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.466);
    border: 1px solid rgba(224, 255, 255, 0.164);
}

.left {
    width: 30%;
}